/* ==============================
   AI SQL RAG Assistant Theme
================================*/

.block-container{
    padding-top:2rem;
    padding-bottom:2rem;
    max-width:1450px;
}

/* Hide Streamlit Branding */

#MainMenu{
    visibility:hidden;
}

footer{
    visibility:hidden;
}

header{
    visibility:hidden;
}

/* Sidebar */

[data-testid="stSidebar"]{
    background:#111827;
}

[data-testid="stSidebar"] *{
    color:white;
}

/* Buttons */

.stButton>button{

    width:100%;

    border-radius:12px;

    border:1px solid #334155;

    background:#1E293B;

    color:white;

    font-weight:600;

    transition:0.25s;
}

.stButton>button:hover{

    border-color:#3B82F6;

    background:#2563EB;
}

/* Text Inputs */

.stTextInput input{

    border-radius:12px;

}

/* Select Box */

.stSelectbox{

    border-radius:12px;

}

/* Slider */

.stSlider{

    padding-top:10px;

}

/* Tables */

[data-testid="stDataFrame"]{

    border-radius:15px;

    overflow:hidden;

}

/* Metric */

[data-testid="metric-container"]{

    background:#111827;

    border:1px solid #334155;

    padding:15px;

    border-radius:15px;

}

/* Expander */

.streamlit-expanderHeader{

    font-weight:600;

}

/* Divider */

hr{

    margin-top:2rem;

    margin-bottom:2rem;

}

/* Success */

.stSuccess{

    border-radius:15px;

}

/* Warning */

.stWarning{

    border-radius:15px;

}

/* Info */

.stInfo{

    border-radius:15px;

}